!.gitkeep
/.env
/.install
/.rothenberg
/.rothenberg.config
/bin/*
/composer.passwd
/env/node/node_modules
/env/node/npm-debug.log
/packages
/phpunit.xml
/tmp/*
/vendor/
/web/bundles/
/web/css
/web/fonts
/web/img
/web/js
/web/uploads/
/var/*
